<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1>Cupcakes</h1>

    <ul id="cupcakes_list">
    </ul>


    <h3>Add a cupcake</h3>

    <form id='new_cupcake_form'>
        <div>
            <label for='form_flavor'>Flavor: </label>
            <input name='flavor' id='form_flavor'>
        </div>

        <div>
            <label for="form_size">Size: </label>
            <input name="size" id="form_size">
          </div>
        
          <div>
            <label for="form_rating">Rating: </label>
            <input type="number" name="rating" id="form_rating">
          </div>
        
          <div>
            <label for="form_image">Image: </label>
            <input name="image" id="form_image">
          </div>

    <button>Add cupcake</button>
    </form>

    <script src="http://unpkg.com/jquery"></script>
    <script src="http://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/cupcakes.js"></script>
</body>
</html>